@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300&display=swap');
*{
  font-family: 'Noto Serif TC', serif;
}

/* login.php */
.container_box{
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid #000000; */
}
@media screen and (max-width: 500px){
  .container_box{
    margin-top: 75px;
  }
}

.logo_img{
  width: 20%;
  margin-bottom: 20px;
}
@media screen and (max-width: 500px){
  .logo_img{
    width: 53%;
  }
}

.logo_img img{
  width: 100%;
}

.login_slogan{
  margin-bottom: 20px;
  text-align: center;
}
.login_slogan h2{
  font-size: 24px;
  font-weight: bolder;
}

.login_form{
  /* border: 1px dashed #000000; */
  width: 39%;
}
@media screen and (max-width: 500px){
  .login_form{
    width: 85%;
  }
}

.form-group{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form_input_box{
  /* border: 1px solid #000000; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.form_input_box span{
  width: 25%;
  height: 40px;
  padding-top: 5px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #767676;
  background-color: #ffffff;
  border-right: 0;
  border-radius: 25px 0 0 25px;
  letter-spacing: 4px;
}

.form_input{
  display: block;
  height: 40px;
  width: 75%;
  border: 1px solid #767676;
  border-radius: 0 25px 25px 0;
  text-indent: 5px;
  background-color: #ffffff;
  font-size: 18px;
}
.form_input:focus{
  outline: none;
}

.login_btn_box{
  display: flex;
  width: 45%;
  justify-content: space-between;
}
@media screen and (max-width: 500px){
  .login_btn_box{
    width: 60%;
  }
}

.login_btn , .login_btn a{
  width: 90px;
  height: 40px;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  background-color: #767676;
  color: #ffffff;
  letter-spacing: 2px;
}
@media screen and (max-width: 500px){
  .login_btn , .login_btn a{
    width: 85px;
    height: 45px;
  }
}

.login_color{
  background-color: #9F353A;
}
.signup_color , .signup_color a{
  background-color: #3A8FB7;
}
.signup_color a:hover{
  text-decoration: none;
}